button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
}

button.edit, button.submit {
    background-color: rgb(47, 66, 239);
}

button.submit.disabled {
    cursor: not-allowed;
}

button.edit:hover, button.submit:hover {
    background-color: rgb(39, 54, 189);
    cursor: pointer;
}

button.submit.disabled:hover, button.save.disabled:hover {
    cursor: not-allowed;
}

button.cancel {
    background-color: rgb(216, 69, 43);
}

button.cancel:hover {
    background-color: rgb(187, 55, 31);
    cursor: pointer;
}

button.save {
    background-color: rgb(9, 152, 69);
}

button.save:hover {
    background-color: rgb(3, 131, 57);
    cursor: pointer;
}