.search-area{
    padding: 15px;
    display: flex;
}

.search-area input {
    margin: auto;
    width: 25%;
    height: 40px;
    display: block;
    padding: 8px;
    border-radius: 20px;
    border: grey solid 2px;
}

.content {
    display: block;
    margin-left: 85px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}