.sidebar {
    width: 85px;
    height: 100%;
    position: fixed;
    border-right: 2px black solid;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.yellow {
    background-color: #ffbb31;
}

.yellow:hover {
    background-color: #efae2b;
}

.purple {
    background-color: #752fff;
}

.purple:hover {
    background-color: #6927eb;
}

.red {
    background-color: #fe3a3a;
}

.red:hover {
    background-color: #ed2c2c;
}

.sidebar ul li {
  padding: 0;
}

.sidebar ul li a.other {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    color: white;
}